* {
  box-sizing: border-box;
}

.body_home,
.body_page {
  background-color: rgb(156, 155, 155);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}
#main_title{
  color: black;
  text-shadow: 1px 2px 2px white;
}

.hidden{
  display: none;
}
.visible{
  display: block;
}
.red {
background-color: red;
}
td,
th {
  border: 1px solid gray;


}

.footer_line{
position: relative!important; 
bottom: 0;  
}
.body_list {
  background-color: rgb(226, 226, 226);
}

.nav-pills li a:hover {
  background-color: blue!important;

}
.body_page_new {
  background: #5a5a5d;
}
#btn_submit {
  background-color: rgb(14, 14, 52)!important;
}


